body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* запрет смещения стр при появлении полосы прокрутки */
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body * {
  box-sizing: border-box;
}

:root {
  --padding: 8px;
  --margin: 8px;
  --primary: rgb(85, 26, 139);
  --secondary:#23d1a8;
  --radius: 5px;
}

.App {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 calc(var(--padding) * 2) calc(var(--padding) * 2) calc(var(--padding) * 2);
  border-top: none;
}

.button {
  padding: var(--padding) calc(var(--padding)*2);
  border-radius: var(--radius);
  border: none;
  color: #fafafa;
  background-color: var(--primary);
  cursor: pointer;
}

.catalog-item_button:hover {
  background-image: linear-gradient(150deg, var(--primary), var(--secondary));
}

.catalog-item_button:disabled {
  background-color: var(--secondary);
}


.catalog-item_button:disabled:hover {
  background-image: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #fafafa;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  padding: calc(var(--padding) * 2) 0;
  margin: calc(var(--margin) * 2);
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.catalog-item {
  flex-basis: 25%;
  box-shadow: 0 0 4px 0 #c0c0c0;
  padding: calc(var(--padding) * 2);
  margin: calc(var(--margin) * 2);
  position: relative;

}

.catalog-item_img-icon {
  position: absolute;
  right: calc(var(--padding) * 2);
  top: calc(var(--padding) * 2);
}

.catalog-item_description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  cursor: pointer;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 5px;
  align-items: center;
  box-shadow: 0 0 4px 0 #c0c0c0;
  padding: calc(var(--padding) * 2);
  margin: calc(var(--margin) * 2);
  font-size: 0.85rem;
}

.cart-item_text {
  flex-basis: 50%;
}

.cart-item_description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.4rem;
}

.cart-item_button.cart-item_button {
  background-color: #f91155;
}

.cart-item_button.cart-item_button:hover,
.cart-item_button.cart-item_button:focus {
  background-image: none;
  opacity: 0.85;
}

/* Transitions */
.cartItems-enter {
  opacity: 0;
}
.cartItems-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.cartItems-exit {
  opacity: 1;
}
.cartItems-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.favItems-enter {
  opacity: 0;
}
.favItems-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.favItems-exit {
  opacity: 1;
}
.favItems-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
